{% extends 'base.html' %}

{% block content %}
    <h1>CarRel's Shop</h1>
    <h5>Name: </h5>
    <p>{{ name }}</p>
    <h5>Class: </h5>
    <p>{{ class }}</p>

    <h5>Total Item: </h5>
    <p>Anda menyimpan {{ item_count }} jenis mobil pada aplikasi CarRel</p>

    <h5>Detail Item: </h5>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Categorie</th>
            <th>Description</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Date Added</th>
            <th>Action</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for item in items %}
            <tr>
                <td style="padding: 5px;">{{ item.name }}</td>
                <td style="padding: 5px;">{{ item.categories }}</td>
                <td style="padding: 5px;">{{ item.description }}</td>
                <td style="padding: 5px;">{{ item.price }}</td>
                <td style="padding: 5px;">{{ item.amount }}</td>
                <td style="padding: 5px;">{{ item.date_added }}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <div style="display: flex; flex-direction: column;">
                            <button type="submit" name="increment" value="{{ item.id }}">
                                + Amount
                            </button>
                            <button type="submit" name="decrement" value="{{ item.id }}">
                                - Amount
                            </button>
                            <button type="submit" name="delete" value="{{ item.id }}">
                                Delete
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Item
        </button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}
