{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: 'General Sans', sans-serif;
        background: #eeeeee;
    }


    .card-title {
        font-family: 'General Sans', sans-serif;
    }


    .navbar-brand {
        font-weight: bold;
    }


    .btn-logout {
        background-color: red;
        color: white;
    }


    .container-padded {
        padding-left: 80px;
        padding-right: 80px;
    }


    .center-align {
        text-align: center;
    }

    btn-floating {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
    }

    /* Tidak jadi dipakai untuk tugas 6*/
    .edit-button {
          margin-top: 10px;
          display: inline-flex;
          height: 48px;
          padding: 4px 16px;
          justify-content: center;
          align-items: center;
          gap: 8px;
          border-radius: 6px;
          background: blueviolet;
          color: #fff;
          text-decoration: none;
          border: none;
          cursor: pointer;
      }

    .btn-add {
        margin-bottom: 10px;
    }

    .bg-clr {
        background-color: bisque;
    }

    .center-content {
    {#display: flex;#}
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .button-container {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .center-align.custom-margin {
        margin-top: 20px;
    }


</style>
{#    NAVBAR#}
<nav class="navbar navbar-expand-lg" style="background-color: #eeeeee;">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">CarRel's Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                </li>
            </ul>
            <a href="{% url 'main:logout' %}">
                <button class="btn btn-logout btn-outline-danger" type="button">Logout</button>
            </a>
        </div>
    </div>
</nav>

{#    Welcome Hero#}
<p class="center-align custom-margin" style="font-size: 120%;">
    Selamat datang <strong>{{ name }}</strong> dari kelas <strong>{{ class }}</strong> !
</p>

<p class="center-align" style="font-size: 100%;">
    Anda menyimpan <strong><span id="items_total">{{ item_count }}</span> jenis mobil</strong> pada aplikasi CarRel

</p>



{#    CARD + Button AJAX#}
    <div class="center-content">

    <div class="button-container">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>
    </div>

    <div id="cardContainer"></div>

    </div>



{#    MODAL#}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="categories" class="col-form-label">Categories:</label>
                        <textarea class="form-control" id="categories" name="categories"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

{#    Sesi Login Terakhir#}
<h5 class="center-align" style="margin-top: 20px;">Sesi terakhir login: {{ last_login }}</h5>




{#    SCRIPT#}
<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }


    async function refreshProducts() {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const container = document.getElementById("cardContainer");
        container.innerHTML = "";  // Clear the current content.

        const products = await getProducts();

        products.forEach((item, index) => {
            container.innerHTML += `
                <div class="col-12 mb-3" style="padding-left: 100px; padding-right: 100px;"> <!-- Adjusted grid class and added inline styles for margins -->
                    <div class="card ${index === products.length - 1 ? 'bg-clr' : ''}">
                        <div class="card-body" style="position: relative;">
                            <h5 class="card-title">${item.fields.name}</h5>
                            <p class="card-text">Categories: ${item.fields.categories}</p>
                            <p class="card-text">Description: ${item.fields.description}</p>
                            <p class="card-text"><strong>Price: ${item.fields.price}</strong></p>
                            <p class="card-text">Date Added: ${item.fields.date_added}</p>

                            <form method="post">
                                <input type="hidden" name="csrfmiddlewaretoken" value="${csrfToken}">
                                <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                                    <div style="display: flex; align-items: center;">
                                        <button
                                                onclick="incrementProduct(event, ${item.pk})"
                                                style="border: none;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                                            </svg>
                                        </button>
                                        <p class="card-text" style="margin: 0 10px;">Amount: ${item.fields.amount}</p>
                                        <button
                                               onclick="decrementProduct(event, ${item.pk})"
                                                style="border: none;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"></path>
                                            </svg>
                                        </button>
                                    </div>

                                    <button type="button"
                                            onclick="deleteProduct(${item.pk})"
                                            style="position: absolute; top: 10px; right: 10px; background: none; border: none; ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path>
                                        </svg>
                                    </button>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>`;
        });
         updateItemsTotal(products.length);
    }

    refreshProducts();



    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addProduct



    function deleteProduct(id) {
    fetch("/delete-item-ajax/" + id + "/", {
        method: "POST"
    }).then(refreshProducts)

    document.getElementById("form").reset()
    return false
    }

    function updateItemsTotal(total) {
        document.getElementById("items_total").innerText = total;
    }




    function incrementProduct(event, id) {
    event.preventDefault();
    fetch("/increment-item-ajax/" + id + "/", {
        method: "POST"
    }).then(refreshProducts)
}

    function decrementProduct(event, id) {
        event.preventDefault();
        fetch("/decrement-item-ajax/" + id + "/", {
            method: "POST"
        }).then(refreshProducts)
    }







</script>






{% endblock content %}
